@page "/painel"
@using ProjetoHospitalShared
@using ProjetoHospitalWebAssembly.Components

@if (this.isLoading)
{
    <div class="height-loading d-flex align-items-center justify-content-center">
        <Loading />
    </div>
}
else
{
    <div class="row g-4 mt-4">
        <div class="col-12 col-sm-6 col-lg-3">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_emergencial" Quantidade="this.quantidadeLeitosLimpezaEmergencial" />
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_terminal" Quantidade="this.quantidadeLeitosLimpezaTerminal" />
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_concorrente" Quantidade="this.quantidadeLeitosLimpezaConcorrente" />
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_apos_revisao" Quantidade="this.quantidadeLeitosLimpezaPosRevisao" />
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Ocupado" Quantidade="this.quantidadeLeitosOcupados" />
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Disponivel" Quantidade="this.quantidadeLeitosDisponiveis" />
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <CardStatusQuartoPainel Status="StatusQuartoEnum.Aguardando_revisao" Quantidade="this.quantidadeLeitosAguardandoRevisao" />
        </div>
    </div>
    <div class="border border-black d-flex align-items-center justify-content-center w-100 py-5 my-3">
        <h1>Planta Hospital</h1>
    </div>
    <div class="d-flex flex-wrap mt-4 gap-3">
        <div class="d-flex flex-wrap gap-3 align-items-center">
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Todos ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Todos, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <span class="fs-5">Todos</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Limpeza_emergencial ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Limpeza_emergencial, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo limpeza-emergencial"></div>
                    <span class="fs-5">Limpeza emergencial</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Limpeza_terminal ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Limpeza_terminal, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo limpeza-terminal"></div>
                    <span class="fs-5">Limpeza terminal</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Limpeza_concorrente ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Limpeza_concorrente, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo limpeza-concorrente"></div>
                    <span class="fs-5">Limpeza concorrente</span>
                </div>
                </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Limpeza_apos_revisao ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Limpeza_apos_revisao, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo limpeza-revisao"></div>
                    <span class="fs-5">Limpeza pós revisão</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Ocupado ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Ocupado, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo ocupados"></div>
                    <span class="fs-5">Ocupado</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Disponivel ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Disponivel, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo disponiveis"></div>
                    <span class="fs-5">Disponível</span>
                </div>
            </button>
            <button type="button" class="btn btn-badge rounded-pill @(statusSelecionado == StatusQuartoEnum.Aguardando_revisao ? "selecionado" : string.Empty)" @onclick="() => OnFiltroChange(StatusQuartoEnum.Aguardando_revisao, this.setorSelecionado)">
                <div class="d-flex align-items-center gap-1">
                    <div class="circulo aguardando-revisao"></div>
                    <span class="fs-5">Aguardando revisão</span>
                </div>
            </button>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="fs-4 my-2">Leitos</h2>
                <BotaoSecundario Texto="Cadastrar limpeza emergencial" OnClick="AdicionarLimpezaEmergencialAsync" />
            </div>
            <div class="d-flex">
                <div>
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem">
                        <RadzenLabel Text="Filtrar por setor" Component="DropDownDataGridFiltering" />
                        <RadzenDropDownDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                                Data=@setores TextProperty="Nome" ValueProperty="Id" AllowClear="false" @bind-Value=IdSetorSelecionado Name="DropDownDataGridFiltering" />
                    </RadzenStack>
                </div>
                <div class="ms-2">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5rem">
                        <RadzenLabel Text="Filtrar por quarto" Component="DropDownDataGridFiltering" />
                        <RadzenDropDownDataGrid FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                                                Data=@quartos TextProperty="Nome" ValueProperty="Id" AllowClear="true" @bind-Value=IdQuartoSelecionado Name="DropDownDataGridFiltering" />
                    </RadzenStack>
                </div>
            </div>
        </div>
        <div class="card-body p-0 table-responsive">
            <table class="table table-hover m-0 align-middle">
                <thead>
                    <tr>
                        <th scope="col">Leito</th>
                        <th scope="col">Status</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Última limpeza</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var leito in this.statusLeitosFiltrados)
                    {
                        <tr>
                            <td>
                                <span class="fw-bold">@leito.LeitoNome</span><br />
                                <span>Quarto @leito.QuartoNome</span>
                            </td>
                            <td>
                                <BadgeStatusQuarto LeitoStatus="leito" />
                            </td>
                            <td>
                                <span>@leito.SetorNome</span>
                            </td>
                            <td>
                                @if (leito.DataHoraUltimaLimpeza == DateTime.MinValue)
                                {
                                    <span>-</span>
                                }
                                else
                                {
                                    <span>@leito.DataHoraUltimaLimpeza</span>
                                }
                            </td>
                            <td class="align-middle">
                                <div class="btn-group gap-3" role="group">
                                    <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeBootstrap="bi-eye" Texto="Visualizar" OnClick="() => VisualizarDetalhesAsync(leito.LeitoId)" />
                                    @if (!leito.Ocupado
                                        && !leito.PrecisaLimpezaConcorrente
                                        && !leito.PrecisaLimpezaTerminal
                                        && !leito.PrecisaDeRevisao)
                                    {
                                        <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeFontAwesome="fa-solid fa-bed" Texto="Iniciar internação" OnClick="() => IniciarInternacao(leito)" />
                                    }
                                    @if (leito.Ocupado)
                                    {
                                        <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeBootstrap="bi-check2-circle" Texto="Liberar leito" OnClick="() => EncerrarInternacao(leito)" />
                                    }

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}